<div class="col-sm-12">
<div class="col-sm-3 empdata">
  <app-sidebar></app-sidebar>
</div>
<br>
<div class="col-sm-9">
Name:
<input [(ngModel)]="emp.name" class="form-control"><br>
Age:
<input [(ngModel)]="emp.age" class="form-control"><br>
Salary:
<input [(ngModel)]="emp.sal" class="form-control"><br>
<p>
  {{stt}}
</p>
<button (click)="viewall()" class="btn btn-primary">Viewall</button>
<button  *ngIf="btn_stt" class="btn btn-success" (click)="save()">Save Records</button>
<button *ngIf="!btn_stt" class="btn btn-success" (click)="update()">Update Records</button>
<table class="table table-bordered">
<th>NAME</th><th>AGE</th><th>SALARY</th><th>ACTION</th>
<tr *ngFor="let x of emps">
<td>
  {{x.data.name}}
</td>
<td>
  {{x.data.age}}
</td>
<td>
  {{x.data.sal}}
</td>
<td>
  <button class="btn btn-danger" (click)="del(x.id)">Delete Records</button><br><br>
  <button class="btn btn-primary" (click)="edit(x)">Edit Records</button>
</td>
</tr>
</table>
</div>
</div>