<div class="container">
<br>
<div class="col-lg-12">
  <div class="form-group">
    <label>Patient Name</label>
    <input [(ngModel)]="pat.pat_name" class="form-control">
  </div>
</div>
<div class="col-lg-12">
  <div class="form-group">
    <label>Patient Age</label>
    <input [(ngModel)]="pat.pat_age" class="form-control">
  </div>
</div>
<div class="col-lg-12">
  <div class="form-group">
    <label>Patient Diseases</label>
    <input [(ngModel)]="pat.pat_diseases" class="form-control">
  </div>
</div>
<p>
  Status is {{stt}}
</p>
<button *ngIf="btn_stt" (click)="save()">Save Records</button>
<button *ngIf="!btn_stt" (click)="update()">Update Records</button>
<table class="table table-bordered">
<th>Patient Name</th><th>Patient Age</th><th>Patient Diseases</th>
<tr *ngFor='let hsp of patients'>
  <td>{{hsp.data.pat_name}}</td>
  <td>{{hsp.data.pat_age}}</td>
  <td>{{hsp.data.pat_diseases}}</td>
  <td>
    <button (click)="del(hsp.dr)">Delete</button>
  </td>
  <td>
    <button (click)="edit(hsp)">Edit</button>
  </td>
</tr>
</table>
</div>
