<p>
  vechile works!
</p>
Name:<input [(ngModel)]="car.name" class="form-control"><br>
Company:<input [(ngModel)]="car.company" class="form-control"><br>
Prize:
<input [(ngModel)]="car.prize" class="form-control"><br>
<button class="btn btn-success" (click)="save()">Save Records</button>
<table class="table table-bordered">
<th>Name</th><th>Company</th><th>Prize</th>
<tr *ngFor="let x of cars">
<td>{{x.data.name}}</td>
<td>{{x.data.company}}</td>
<td>{{x.data.prize}}</td>
<td>
  <button (click)="remove(x.id)">Delete</button>
</td>
</tr>
</table>
