<app-doctorinfo></app-doctorinfo>
<!-- <p>Employee Name: <input type="text" [(ngModel)]="emp.emp_name"></p>
<p>Employee Department:
  <input type="text" [(ngModel)]="emp.emp_dep">
</p>
<p>
 Status is {{stt}}
</p>
<button (click)="save()">Save</button>
<table>
  <th>Name</th><th>Department</th>
  <tr *ngFor="let x of employees">
<td>{{x.data.emp_name}}</td>
<td>{{x.data.emp_dep}}</td>
  </tr>
</table> -->
<!--  {{users | json}}-->
 <!-- <app-schoolcrude></app-schoolcrude> -->
 <!-- <app-assetcurde></app-assetcurde>  -->
 <!-- <app-crudeproduct></app-crudeproduct> -->
<!-- <app-product></app-product>-->
  <!-- <app-marks></app-marks> -->
<!--  <app-array></app-array>-->
<!--  <app-potential></app-potential>-->
<!-- <app-calculator></app-calculator>-->
<!--<p>
  First Number:
  <input [value]="a">
</p>
<p>
  second Number:
  <input [value]="b">
 </p>
<p>
    sum is{{c}}
</p>
<p>
  <button (click)="add()">Add</button>
</p>
<p>
  Phy:
  <input [value]="p">
</p>
<p>
  Che:
  <input [value]="ch">
</p>
<p>
  Hin:
  <input [value]="h">
</p>
<p>
  Math:
  <input [value]="m">
</p>
<p>
  Eng:
  <input [value]="e">
</p>
<p>
avg is {{av}}
</p>
<p>
  <button (click)="avg()">Averge</button>
</p>-->
